<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Inventarios TAMBO+</title>
</head>
<body>
<div th:switch="${session.usuariologueado.tipoempleado.idtipoempleado}">
<div th:case="0">ERROR: No se ha iniciado sesion.</div>
<div th:case="2">ERROR: Logistica no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/logistica/inicio}" method="post">
<br/><button type="submit">Volver al Menu Logistica</button>
</form><br/>
</div>
<div th:case="3">ERROR: Sucursal no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/sucursal/inicio}" method="post">
<br/><button type="submit">Volver al Menu Sucursal</button>
</form><br/>
</div>
<div th:case="*">
<h1>Admin - Datos Maestros:</h1>
<form th:action="@{/newTipoproducto}" method="post">
<button type="submit">Tipos de Productos</button>
</form><br/>
<form th:action="@{/newProducto}" method="post">
<button type="submit">Productos</button>
</form><br/>
<form th:action="@{/newEmpleado}" method="post">
<button type="submit">Empleados</button>
</form><br/>
<form th:action="@{/newCiudad}" method="post">
<button type="submit">Ciudades</button>
</form><br/>
<form th:action="@{/newAlmacen}" method="post">
<button type="submit">Almacenes</button>
</form><br/>
<form th:action="@{/newSitio}" method="post">
<button type="submit">Sitios</button>
</form><br/><br/><br/><br/>
<form th:action="@{/}" method="post">
<button type="submit">Cerrar Sesion</button>
</form><br/>
</div>
</div>
</body>
</html>