<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Inventarios TAMBO+</title>
</head>
<body>
<div th:switch="${session.usuariologueado.tipoempleado.idtipoempleado}">
<div th:case="0">ERROR: No se ha iniciado sesion.</div>
<div th:case="1">ERROR: Admin no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/admin/inicio}" method="post">
<br/><button type="submit">Volver al Menu Admin</button>
</form><br/>
</div>
<div th:case="3">ERROR: Sucursal no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/sucursal/inicio}" method="post">
<br/><button type="submit">Volver al Menu Sucursal</button>
</form><br/>
</div>
<div th:case="*">
<h1 align="center">Entradas de Productos</h1>
<form th:action="@{/empleado/logistica/inicio}" method="post">
<button type="submit">Regresar</button>
</form>
<h2>Registro de Entrada de Producto</h2>
<p style="color:red" align="center" th:text="${message}"></p>
<form  th:object="${entradaproducto}" th:action="@{/entradaproducto/new}" method="post">
	Cantidad: <input type="number" th:field="*{solicitudcotizacion.cantidad}" step="1"/><br/><br/>
    Producto:
     <table border="1">
      <thead>
      <tr>
          <th data-field="idproducto">ID</th>
          <th data-field="nombre">Nombre</th>
          <th data-field="medida">Medida</th>
          <th data-field="tipoproducto">TipoProducto</th>
          <th data-field="precio">Precio</th>
      </tr>
      </thead>
      <tbody>
       <tr th:each="p:${productos}">
          <td th:text="${p.idproducto}"></td>
          <td th:text="${p.nombre}"></td>
          <td th:text="${p.medida}"></td>
          <td th:text="${p.tipoproducto.nombre}"></td>
          <td th:text="${p.precio}"></td>
          <td><input type="radio" th:field="*{solicitudcotizacion.producto.idproducto}"  name="producto" th:value="${p.idproducto}"></input></td>
       </tr>
      </tbody>
    </table>   
    <br/>
    Sitio:
     <table border="1">
      <thead>
      <tr>
        <th data-field="idsitio">ID</th>
   		<th data-field="nombre">Nombre</th>
   		<th data-field="direccion">DireccionAlmacen</th>
   		<th data-field="tipoalmacen">TipoAlmacen</th>
      </tr>
      </thead>
      <tbody>
       <tr th:each="s:${sitios}">
		    <td th:text="${s.idsitio}"></td>
		    <td th:text="${s.nombre}"></td>
		    <td th:text="${s.almacen.direccion}"></td>
		    <td th:text="${s.almacen.tipoalmacen}"></td>
          <td><input type="radio" th:field="*{solicitudcotizacion.sitio.idsitio}"  name="sitio" th:value="${s.idsitio}"></input></td>
       </tr>
      </tbody>
    </table> 
	<br/><button type="submit">Registrar</button>
</form>
<h2>Lista Entradas de Productos</h2>
	<table border="1">
  <thead>
   	<tr>
   		<th data-field="identradaproducto">ID</th>
        <th data-field="producto">Producto</th>
        <th data-field="medida">Medida</th>
        <th data-field="tipoproducto">TipoProducto</th>
        <th data-field="precio">Precio</th>
   		<th data-field="sitio">Sitio</th>
   		<th data-field="direccion">DireccionAlmacen</th>
   		<th data-field="tipoalmacen">TipoAlmacen</th>
   		<th data-field="cantidad">Cantidad</th>
   		<th data-field="empleado">UsuarioEmpleado</th>
   	</tr>
  </thead>
  <tbody>
  	<tr th:each="ep:${entradaproductos}">
	    <td th:text="${ep.identradaproducto}"></td>
	    <td th:text="${ep.solicitudcotizacion.producto.nombre}"></td>
	    <td th:text="${ep.solicitudcotizacion.producto.medida}"></td>
	    <td th:text="${ep.solicitudcotizacion.producto.tipoproducto.nombre}"></td>
	    <td th:text="${ep.solicitudcotizacion.producto.precio}"></td>
	    <td th:text="${ep.solicitudcotizacion.sitio.nombre}"></td>
	    <td th:text="${ep.solicitudcotizacion.sitio.almacen.direccion}"></td>
	    <td th:text="${ep.solicitudcotizacion.sitio.almacen.tipoalmacen}"></td>
	    <td th:text="${ep.solicitudcotizacion.cantidad}"></td>
	    <td th:text="${ep.empleado.usuario}"></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>