<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Registro de Empleado</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body background="images/fondo.png">
<div th:switch="${session.usuariologueado.tipoempleado.idtipoempleado}">
<div th:case="0">ERROR: No se ha iniciado sesion.</div>
<div th:case="2">ERROR: Logistica no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/logistica/inicio}" method="post">
<br/><button type="submit">Volver al Menu Logistica</button>
</form><br/>
</div>
<div th:case="3">ERROR: Sucursal no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/sucursal/inicio}" method="post">
<br/><button type="submit">Volver al Menu Sucursal</button>
</form><br/>
</div>
<div th:case="*">
<div class="container">
<!--/*/ <th:block th:include="fragments/header2 :: header"></th:block> /*/-->
<div class="panel panel-info">
 <div class="panel-body">
<p style="color:red" align="center" th:text="${message}"></p>
<form th:action="@{/empleado/admin/inicio}" method="post">
<button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-circle-arrow-left"></span> Regresar</button>
</form>
<form th:object="${empleado}" th:action="@{/empleado/new}" method="post">
 <div class="form-group">
  <label for="nombre" >Nombre: </label>
  <input type="text" class="form-control"  th:field="*{nombre}" />
  <span style="color:red" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
 </div>
<div class="form-group">
 <label for="apellido" >Apellido: </label>
 <input type="text" class="form-control" id="apellido" th:field="*{apellido}" />
 <span style="color:red" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
</div>
<div class="form-group">
 <label for="apellido" >Usuario: </label>
 <input type="text" class="form-control" id="usuario" th:field="*{usuario}" />
 <span style="color:red" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></span>
</div>
<div class="form-group">
 <label for="dni" >Password: </label>
 <input id="dni" class="form-control"  type="password" th:field="*{password}"/>
 <span style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">DNI no valido</span>
</div>
<div class="form-group">
  <label for="sel1">Tipo Empleado:</label>
  <select class="form-control" th:field="*{tipoempleado.idtipoempleado}">
     <option value="1">Admin</option>
     <option value="2">Logistica</option>
     <option value="3">Sucursal</option>
      </select>
</div>
 <div align="center">
<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Guardar</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</body>
</html>