<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Inventarios TAMBO+</title>
</head>
<body>
<div th:switch="${session.usuariologueado.tipoempleado.idtipoempleado}">
<div th:case="0">ERROR: No se ha iniciado sesion.</div>
<div th:case="1">ERROR: Admin no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/admin/inicio}" method="post">
<br/><button type="submit">Volver al Menu Admin</button>
</form><br/>
</div>
<div th:case="3">ERROR: Sucursal no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/sucursal/inicio}" method="post">
<br/><button type="submit">Volver al Menu Sucursal</button>
</form><br/>
</div>
<div th:case="*">
<h1 align="center">Productos en Sitios de Almacenes</h1>
<form th:action="@{/empleado/logistica/inicio}" method="post">
<button type="submit">Regresar</button>
</form>
<h2>Lista Productos en Sitios de Almacenes</h2>
	<table border="1">
  <thead>
   	<tr>
        <th data-field="idproducto_sitio">ID</th>
        <th data-field="producto">Producto</th>
        <th data-field="medida">Medida</th>
        <th data-field="tipoproducto">TipoProducto</th>
        <th data-field="precio">Precio</th>
   		<th data-field="sitio">Sitio</th>
   		<th data-field="direccion">DireccionAlmacen</th>
   		<th data-field="tipoalmacen">TipoAlmacen</th>
   		<th data-field="cantidad">Cantidad</th>
   	</tr>
  </thead>
  <tr th:each="ps:${productositios}">
	    <td th:text="${ps.idproducto_sitio}"></td>
	    <td th:text="${ps.producto.nombre}"></td>
	    <td th:text="${ps.producto.medida}"></td>
	    <td th:text="${ps.producto.tipoproducto.nombre}"></td>
	    <td th:text="${ps.producto.precio}"></td>
	    <td th:text="${ps.sitio.nombre}"></td>
	    <td th:text="${ps.sitio.almacen.direccion}"></td>
	    <td th:text="${ps.sitio.almacen.tipoalmacen}"></td>
	    <td th:text="${ps.cantidad}"></td>
    </tr>
</table>
</div>
</div>
</body>
</html>