<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Inventarios TAMBO+</title>
</head>
<body>
<div th:switch="${session.usuariologueado.tipoempleado.idtipoempleado}">
<div th:case="0">ERROR: No se ha iniciado sesion.</div>
<div th:case="2">ERROR: Logistica no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/logistica/inicio}" method="post">
<br/><button type="submit">Volver al Menu Logistica</button>
</form><br/>
</div>
<div th:case="3">ERROR: Sucursal no posee los permisos necesarios para ver este modulo.
<form th:action="@{/empleado/sucursal/inicio}" method="post">
<br/><button type="submit">Volver al Menu Sucursal</button>
</form><br/>
</div>
<div th:case="*">
<h1 align="center">Tipos de Productos</h1>
<form th:action="@{/empleado/admin/inicio}" method="post">
<button type="submit">Regresar</button>
</form>
<h2>Registro de Tipo de Producto</h2>
<p style="color:red" align="center" th:text="${message}"></p>
<form  th:object="${tipoproducto}" th:action="@{/tipoproducto/new}" method="post">
	Nombre: <input type="text" th:field="*{nombre}" /><br/>
	<br/><button type="submit">Registrar</button>
</form>
<h2>Lista Tipos de Productos</h2>
	<table border="1">
  <thead>
   	<tr>
        <th data-field="idtipoproducto">ID</th>
   		<th data-field="nombre">Nombre</th>
   	</tr>
  </thead>
  <tbody>
  	<tr th:each="tp:${tipoproductos}">
	    <td th:text="${tp.idtipoproducto}"></td>
	    <td th:text="${tp.nombre}"></td>
	    <td><a th:href="${'/editarTipoproducto' + tp.idtipoproducto}">Update</a></td>
	    <td><a th:href="${'/deletetipoproducto'+ tp.idtipoproducto}">Delete</a></td>  
    </tr>
  </tbody>
</table>
</div>
</div>
</body>
</html>